<div class="container sticky_footer pt-3 ">
  <div>
    <h1>My creations</h1>
    <% if @creations.empty? %>
      <h2 class="text-center my-3">You have no Creations yet</h2>
    <% else %>
      <div  class="card-container">
        <% @creations.each do |creation| %>
          <%= render :partial => 'partials/card', locals: { creation: creation, user: @user } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
