<div class="container sticky_footer pt-3 ">
  <%= render "partials/dashboard-menu" %>
  <div>
    <h1>My creations</h1>
    <% if @creations.empty? %>
      <h2 class="text-center my-3">You have no creations yet</h2>
    <% else %>
      <div class="card-container-dashboard">
        <% @creations.each do |creation| %>
          <%= render :partial => 'partials/creation-card', locals: { creation: creation, user: @user } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
