<div class="container sticky_footer pt-3 ">
  <div>
    <h1>My Events</h1>
    <% if @events.empty? %>
      <h2 class="text-center my-3">You have no Events yet</h2>
    <% else %>
      <div  class="horizontal-scroll">
        <% @events.each do |event| %>
          <%= render :partial => 'partials/event_card', locals: { event: event, user: @user } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
