<div id="message-<%= message.id %> ">
  <small>
    <div class="d-flex justify-content-between">
      <p class= "pb-0 mb-1"><strong><%= message.user.user_name %></strong></p>
      <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
    </div>
  </small>
  <p><%= message.content %></p>
</div>
