// Specific CSS for your home-page
.sticky_footer {
  min-height: calc(100vh - 135.6px);
}

p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

h1 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 50px;
}

h3 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 28px;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.btn-custom {
  background-color: #ff9000;
}

@media (max-width: 800px) {
  p {
    font-size: 16px;
    width: auto;
  }
}
.home-content {
  background-position: center;
  background-size: cover;
  padding: 1rem;
  p {
    text-align: justify;
  }
}
.home-content-creation {
  background-image: linear-gradient(
      rgba($color: #f4f4f4, $alpha: 0.85),
      rgba($color: #f4f4f4, $alpha: 0.85)
    ),
    image-url("making_art.svg");
  height: 70vw;
  margin-bottom: 5rem;
}
.home-content-event {
  background-image: linear-gradient(
      rgba($color: #f4f4f4, $alpha: 0.85),
      rgba($color: #f4f4f4, $alpha: 0.85)
    ),
    image-url("art_museum.svg");
  height: 50vw;
  margin-bottom: 5rem;
}
.home-content-div {
  height: 100%;
}
