// Specific CSS for your home-page
.sticky_footer {
  min-height: calc(100vh - 100px);
}

p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

h1 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 50px;
}

h3 {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 28px;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.example-picture {
  // background-image: none, url("../../images/sunsett.jpg")
}

.btn-custom {
  background-color: #ff9000;
}

.content-banner {
  margin-left: 100px;
}

@media (max-width: 800px) {
  p {
    font-size: 16px;
    width: auto;
  }
}
