.category-item {
  width: 5rem;
  list-style-type: none;
  font-size: 2rem;

  i {
    color: white;
  }
  button {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: grey;

    &:hover {
      background-color: rgb(77, 77, 77);
    }
  }
}
.categories-container {
  padding: 0;
  background-color: $our_orange;
  height: 90px;
}

.horizontal-scroll {
  display: flex;
  gap: 25px;
  height: 220px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    align-items: center;
    background-color: white;
    color: white;
    display: flex;
    flex: 0 0 280px;
    font-size: 40px;
    justify-content: center;
    scroll-snap-align: start;
  }
}

.no-width-card {
  width: 320px !important;
  display: block !important;
}

a {
  text-decoration: none;
  color: $our_orange;
}

.main-event-card {
  position: relative;
}
