<div class="d-flex justify-content-center align-items-baseline container-dashboard ">
  <%= link_to "My Events", myevents_path ,class:"btn-dashboard mx-1" %>
  <%= link_to "Attended Events", attendedevents_path ,class:"btn-dashboard  mx-1" %>
  <%= link_to "My Creations", mycreations_path ,class:"btn-dashboard mx-1" %>
  <%= link_to "Liked Creations", likedcreations_path ,class:"btn-dashboard mx-1" %>
</div>
