<div>
  <a class="card" href='#'>
    <div class = "card-img-top">
      <img src="https://www.pandotrip.com/wp-content/uploads/2015/10/Top-Graffiti-Stockholm-Photo-by-Alexander-Dragunov.jpg" alt="">
    </div>
    <div class="card-body">
      <h4><%= event.date %></h4>
      <h6><%= event.location %></h6>
    </div>
  </a>
</div>
