<h4><%= event.title %></h4>
<p><i class="fas fa-map-marker-alt"></i>  <%= event.location %></p>
<p> <i class="fas fa-calendar-check"></i>  <%= event.date.strftime("%a, %d %b %Y") %></p>
<%= link_to 'Show', event_path(event), class: "btn btn-primary" %>
