<div class="container">
  <div>
    <%= link_to '#',class: "card" %>
    <div class = "card-img-top">
      <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="card-body">
      <%= link_to creations_path(user),class: "btn btn-primary" %>
      <h4><%= Creation.all.sample.name %></h4>
      <h6>❤ <%= User.all.sample.liked_creations.length %></h6>
    </div>
  </div>
</div>
