<div class = "container-fluid sticky-footer-banner home-banner d-flex align-items-center  justify-content-center">
  <div class="content-banner d-flex flex-column align-items-center ">
    <h1>Welcome to CreaTown</h1>
    <p>You want to see the cool creations of your neighbors and find a community near you? Come in!</p>
    <% if user_signed_in? %>
      <%= link_to "See the Creations!", main_path, class:"btn btn-custom btn-lg"  %>
    <% else %>
      <%= link_to "Log in to see the Creations", new_user_session_path, class:"btn btn-custom btn-lg"  %>
    <% end %>
  </div>
</div>
<div class="container justify-content-center">
  <div class="row justify-content-evenly">
    <div class="col-8 mt-5">
      <h3 class="text-center">Creations <i class="fas fa-lightbulb"></i></h3>
      <p class="text-left">Share your creations with your neighborhood, find others that enjoy the same things and build a
        community with them! There is a lot to discover: from painting and drawings, to photography, cooking, gardening.
        Your neighbors have so much to offer. Join our community and get to know them.</p>
    </div>
  </div>
</div>
<div class="container justify-content-center">
  <div class="row justify-content-evenly">
    <div class="col-8 mt-5">
      <h3 class="text-center">Events <i class="fas fa-calendar-alt"></i></h3>
      <p class="text-left">You want to get together with your community and show, talk about and enjoy your creations? Make an event!
        This is your opportunity to shine and show your neighbors what you created in real life.</p>
    </div>
  </div>
</div>
