<div class = "container-fluid sticky_footer home-banner d-flex align-items-center  justify-content-left">
  <div class="content-banner d-flex flex-column align-items-center ">
    <h1>Welcome to CreaTown</h1>
    <p>You want to see the cool creations of your Neighbors and find a community near you? Come in!</p>
    <%= link_to "See the Creations!", index_path, class:"btn btn-custom btn-lg"  %>
  </div>
</div>
<div class="container justify-content-center">
  <div class="row justify-content-evenly">
    <div class="col-4 mt-5 example-picture">
      <i class="fas fa-lightbulb"></i>
    </div>
    <div class="col-4 mt-5">
      <h3 class="text-center">Creations</h3>
      <p class="text-center">Share your Creations with your Neighborhood, find others that enjoy the same things and build a community with them!</p>
    </div>
  </div>
</div>
<div class="container justify-content-center">
  <div class="row justify-content-evenly">
    <div class="col-4 mt-5">
      <i class="fas fa-calendar-alt"></i>
    </div>
    <div class="col-4 mt-5">
      <h3 class="text-center">Events</h3>
      <p class="text-center">You want to get together with your community and show, talk about and enjoy your creations? Make an event!</p>
    </div>
  </div>
</div>
