<div class="container sticky_footer">
  <%= render "layouts/categories" %>
  <% if @events.empty? %>
    <h2 class="text-center my-3">Sorry, there are no Events yet</h2>
   <%= link_to "Add an Event", root_path, class: "nav-link " %>
  <% else %>
    <div class="horizontal-scroll">
      <% @events.each do |event| %>
        <%= render :partial => "partials/event_card", locals: { event: event, user: @user } %>
      <% end %>
    </div>
  <% end %>
  <% if @creations.empty? %>
    <h2 class="text-center my-3">Sorry, there are no Creations yet</h2>
  <% else %>
    <div class="card-container-dashboard">
      <% @creations.each do |creation| %>
        <%= render :partial => 'partials/card', locals: { creation: creation, user: @user } %>
      <% end %>
    </div>
  <% end %>
</div>
