<div class="container sticky_footer">
  <%= render "layouts/categories" %>
  <% if @creations.empty? %>
    <h2 class="text-center my-3">You have no Creations yet</h2>
  <% else %>
    <div  class="">
      <div class="horizontal-scroll">
        <% @creations.each do |creation| %>
            <%= render :partial => 'partials/card', locals: { creation: creation, user: @user } %>
        <% end %>
      </div>
  <% end %>
</div>
