<%= render "layouts/categories" %>
<div class="container sticky_footer py-3" data-controller="mainmap">
  <div class="d-flex justify-content-between pb-1 pt-2">
    <h2 >Events</h2>
    <%= link_to raw('<i class="fas fa-map"></i>'), main_path, {class:"btn btn-primary", data: {mainmap_target: "mapbutton",action: "click->mainmap#toggleview"}} %>
  </div>
  <%= render :partial => 'partials/events-main', locals: { events: @events } %>
  <h2 class="pt-4 pb-1">Creations</h2>
  <% if @creations.empty? %>
    <h2 class="text-center my-3">Sorry, there are no Creations yet</h2>
  <% else %>
    <div class="card-container-dashboard">
      <% @creations.each do |creation| %>
        <%= render :partial => 'partials/card', locals: { creation: creation, user: @user } %>
      <% end %>
    </div>
  <% end %>
</div>
</div>
