.home-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://upload.wikimedia.org/wikipedia/commons/a/af/Under_construction_icon-yellow.svg");
  background-position: center;
  background-size: cover;
  color: white;
}

.sticky_footer-banner {
  min-height: calc(100vh - 56px);
}
