.card {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
  text-decoration: none;
}
.button-container {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.card-img-top {
  img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-radius: 10px;
  }
}

.card-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
.card-container-dashboard {
  display: grid;
  justify-items: stretch;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 1rem;
}

.card-body-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  h4 {
    font-size: 1rem;
  }
  .fa-user {
    color: white;
  }
  .likes-and-participations {
    color: white;
  }
}

.card-body {
  padding: 0;
  height: 100%;
  * {
    color: white;
  }
  h2 {
    font-size: 1.1rem;
  }
  .fa-user {
    font-size: 1rem;
  }
  .likes-and-participations {
    font-size: 0.8rem;
  }
  .date-event {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffb85c;
    font-size: 0.8rem;
    color: #cc7400;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 10px;
  }
  .category-event {
    font-size: 1rem;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    background-color: #ffb85c;
    color: #cc7400;
    padding: 0.4rem;
  }
}
@media (max-width: 1600px) {
  .card-container-dashboard {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1200px) {
  .card-container-dashboard {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .card-container-dashboard {
    grid-template-columns: 1fr;
    grid-gap: 8px;
  }
  .card {
    width: 100%;
  }
  .card-img-top {
    img {
      object-fit: cover;
      width: 100%;
      height: 125px;
    }
  }
}
