.navbar-lewagon {
  justify-content: space-between;
  background: #ff9000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
#menu {
  * {
    color: black;
  }
}

.navbar {
  background: #ff9000;
}
.smaller-nav-element {
  display: none;
}
.smaller-nav-user {
  display: none;
}

#navbarDropdownMenuLink {
  display: block;
}
@media (max-width: 768px) {
  .smaller-nav-element {
    display: block;
    padding-left: 45px !important;
    font-style: italic;
  }
  #navbarDropdownMenuLink {
    display: none;
  }
  .smaller-nav-user {
    display: block;
  }
}
