.navbar-lewagon {
  justify-content: space-between;
  background: #ff9000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
#menu {
  * {
    color: black;
  }
}

.navbar {
  background: #ff9000;
  height: 10vh;
}
