<div class="categories-container container  d-flex justify-content-center flex-wrap">
  <ul class= "d-flex justify-content-center my-3 container ">
    <% @categories.each do |cat| %>
      <li class= "category-item">
        <button >
          <i class='<%= cat %>'></i>
        </li>
      </button>
    <% end %>
  </ul>
</div>
