<div class="footer container-fluid mt-auto py-4 d-flex justify-content-end">
  <div class="footer-links position-relative flex-grow-1">
    <h6>Explore the creations in your neighbors!</h6>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="footer-links position-relative">
    <p class= "text-end">Copyright © 2022 Best Team</p>
  </div>
  <div class="footer-copyright">
  </div>
</div>
