<div class="footer container-fluid mt-auto py-4 d-flex justify-content-end">
  <div class="footer-links position-relative flex-grow-1">
    <h5>Explore the creations of your neighbors!</h5>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="footer-links position-relative">
    <h6 class= "text-end">Copyrights © 2022 Good Team</h6>
  </div>
  <div class="footer-copyright">
  </div>
</div>
